soap_wsdl/dataportws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.web.homologation.transport.nic/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.web.homologation.transport.nic/" name="dataportws">
<types>
<xsd:schema>
<xsd:import namespace="http://service.web.homologation.transport.nic/" schemaLocation="http://localhost:8080/vltdmakerws/dataportws?xsd=1" />
</xsd:schema>
</types>
<message name="deactivationDataUpload">
<part name="parameters" element="tns:deactivationDataUpload" />
</message>
<message name="deactivationDataUploadResponse">
<part name="parameters" element="tns:deactivationDataUploadResponse" />
</message>
<message name="nonAISDataUploadForDL">
<part name="parameters" element="tns:nonAISDataUploadForDL" />
</message>
<message name="nonAISDataUploadForDLResponse">
<part name="parameters" element="tns:nonAISDataUploadForDLResponse" />
</message>
<message name="getVltdInfoByIMEI">
<part name="parameters" element="tns:getVltdInfoByIMEI" />
</message>
<message name="getVltdInfoByIMEIResponse">
<part name="parameters" element="tns:getVltdInfoByIMEIResponse" />
</message>
<message name="getVltdInfo">
<part name="parameters" element="tns:getVltdInfo" />
</message>
<message name="getVltdInfoResponse">
<part name="parameters" element="tns:getVltdInfoResponse" />
</message>
<message name="vltdDataUpload">
<part name="parameters" element="tns:vltdDataUpload" />
</message>
<message name="vltdDataUploadResponse">
<part name="parameters" element="tns:vltdDataUploadResponse" />
</message>
<portType name="dataportws">
<operation name="deactivationDataUpload">
<input wsam:Action="http://service.web.homologation.transport.nic/dataportws/deactivationDataUploadRequest" message="tns:deactivationDataUpload" />
<output wsam:Action="http://service.web.homologation.transport.nic/dataportws/deactivationDataUploadResponse" message="tns:deactivationDataUploadResponse" />
</operation>
<operation name="nonAISDataUploadForDL">
<input wsam:Action="http://service.web.homologation.transport.nic/dataportws/nonAISDataUploadForDLRequest" message="tns:nonAISDataUploadForDL" />
<output wsam:Action="http://service.web.homologation.transport.nic/dataportws/nonAISDataUploadForDLResponse" message="tns:nonAISDataUploadForDLResponse" />
</operation>
<operation name="getVltdInfoByIMEI">
<input wsam:Action="http://service.web.homologation.transport.nic/dataportws/getVltdInfoByIMEIRequest" message="tns:getVltdInfoByIMEI" />
<output wsam:Action="http://service.web.homologation.transport.nic/dataportws/getVltdInfoByIMEIResponse" message="tns:getVltdInfoByIMEIResponse" />
</operation>
<operation name="getVltdInfo">
<input wsam:Action="http://service.web.homologation.transport.nic/dataportws/getVltdInfoRequest" message="tns:getVltdInfo" />
<output wsam:Action="http://service.web.homologation.transport.nic/dataportws/getVltdInfoResponse" message="tns:getVltdInfoResponse" />
</operation>
<operation name="vltdDataUpload">
<input wsam:Action="http://service.web.homologation.transport.nic/dataportws/vltdDataUploadRequest" message="tns:vltdDataUpload" />
<output wsam:Action="http://service.web.homologation.transport.nic/dataportws/vltdDataUploadResponse" message="tns:vltdDataUploadResponse" />
</operation>
</portType>
<binding name="dataportwsPortBinding" type="tns:dataportws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="deactivationDataUpload">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="nonAISDataUploadForDL">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getVltdInfoByIMEI">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getVltdInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="vltdDataUpload">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="dataportws">
<port name="dataportwsPort" binding="tns:dataportwsPortBinding">
<soap:address location="http://localhost:8080/vltdmakerws/dataportws" />
</port>
</service>
</definitions>